export const Config = () => {
    const self = {
        modes: {DEVELOPMENT: 'development', PRODUCTION: 'production'},
        platfroms: {STANDALONE: 'standalone', OK: 'ok', VK: 'vk', FB: 'fb'},
        MODE: '<%- mode %>',
        PLATFORM: '<%- platform %>',

        get isDev() { return self.MODE === self.modes.DEVELOPMENT },
        get isProd() { return self.MODE === self.modes.PRODUCTION }
    }

    return self
}